eviteWebService/qv.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.qv.evite.com" xmlns:tns="http://webservice.qv.evite.com" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:ns1="http://model.qv.evite.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model.qv.evite.com">
<xsd:complexType name="QVCredentials">
<xsd:sequence>
<xsd:element minOccurs="0" name="clientId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="clientKey" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="QVWebServiceException">
<xsd:sequence>
<xsd:element minOccurs="0" name="errorCode" nillable="true" type="ns1:ErrorCode"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="ErrorCode">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="AUTH_ERROR"/>
<xsd:enumeration value="MISSING_REQUIRED_DATA"/>
<xsd:enumeration value="DATA_INVALID"/>
<xsd:enumeration value="NOT_VERIFIED"/>
<xsd:enumeration value="APP_FAULT"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="ArrayOfQVInviteDecorator">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="QVInviteDecorator" nillable="true" type="ns1:QVInviteDecorator"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="QVInviteDecorator">
<xsd:sequence>
<xsd:element minOccurs="0" name="eventEndTime" nillable="true" type="ns1:QVDate"/>
<xsd:element minOccurs="0" name="eventHostUserId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="eventStartTime" nillable="true" type="ns1:QVDate"/>
<xsd:element minOccurs="0" name="eventTitle" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="invite" nillable="true" type="ns1:QVInvite"/>
<xsd:element minOccurs="0" name="type" nillable="true" type="ns1:AppType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="QVDate">
<xsd:sequence>
<xsd:element minOccurs="0" name="day" type="xsd:int"/>
<xsd:element minOccurs="0" name="hours" type="xsd:int"/>
<xsd:element minOccurs="0" name="minutes" type="xsd:int"/>
<xsd:element minOccurs="0" name="month" type="xsd:int"/>
<xsd:element minOccurs="0" name="seconds" type="xsd:int"/>
<xsd:element minOccurs="0" name="year" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="AppType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="NORMAL"/>
<xsd:enumeration value="QUICKVITE"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="QVInvite">
<xsd:sequence>
<xsd:element minOccurs="0" name="comments" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="email" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="eventId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="inviteId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="mobilePhone" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="response" nillable="true" type="ns1:Response"/>
<xsd:element minOccurs="0" name="role" nillable="true" type="ns1:Role"/>
<xsd:element minOccurs="0" name="sentTime" nillable="true" type="ns1:QVDate"/>
<xsd:element minOccurs="0" name="shortcode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="smsSentTime" nillable="true" type="ns1:QVDate"/>
<xsd:element minOccurs="0" name="userId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="viewTime" nillable="true" type="ns1:QVDate"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="Role">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="O"/>
<xsd:enumeration value="G"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="Response">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="YES"/>
<xsd:enumeration value="NO"/>
<xsd:enumeration value="MAYBE"/>
<xsd:enumeration value="NA"/>
<xsd:enumeration value="CANCELED"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="QVEvent">
<xsd:sequence>
<xsd:element minOccurs="0" name="city" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="endTime" nillable="true" type="ns1:QVDate"/>
<xsd:element minOccurs="0" name="eventId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="eventStatus" nillable="true" type="ns1:EventStatus"/>
<xsd:element minOccurs="0" name="hostMessage" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="hostName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="hostUserId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="locationName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="postalCode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="serverHost" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="startTime" nillable="true" type="ns1:QVDate"/>
<xsd:element minOccurs="0" name="state" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="street" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="title" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="type" nillable="true" type="ns1:AppType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="EventStatus">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="normal"/>
<xsd:enumeration value="canceled"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="QVEventDecorator">
<xsd:sequence>
<xsd:element minOccurs="0" name="event" nillable="true" type="ns1:QVEvent"/>
<xsd:element minOccurs="0" name="guestList" nillable="true" type="ns1:ArrayOfQVInvite"/>
<xsd:element minOccurs="0" name="hostProfile" nillable="true" type="ns1:QVUserProfile"/>
<xsd:element minOccurs="0" name="numMaybeResponses" type="xsd:int"/>
<xsd:element minOccurs="0" name="numNoResponses" type="xsd:int"/>
<xsd:element minOccurs="0" name="numNotYetRespondedResponses" type="xsd:int"/>
<xsd:element minOccurs="0" name="numYesResponses" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="QVUserProfile">
<xsd:sequence>
<xsd:element minOccurs="0" name="email" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="firstName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="lastName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="userId" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfQVInvite">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="QVInvite" nillable="true" type="ns1:QVInvite"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="QVAdInputData">
<xsd:sequence>
<xsd:element minOccurs="0" name="eventId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="inviteId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="section" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="size" nillable="true" type="ns1:Size"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="Size">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="SMALL"/>
<xsd:enumeration value="MEDIUM"/>
<xsd:enumeration value="LARGE"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="QVAd">
<xsd:sequence>
<xsd:element minOccurs="0" name="clickUrl" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="imgSrc" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfQVPhoto">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="QVPhoto" nillable="true" type="ns1:QVPhoto"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="QVPhoto">
<xsd:sequence>
<xsd:element minOccurs="0" name="dateCreated" nillable="true" type="ns1:QVDate"/>
<xsd:element minOccurs="0" name="height" type="xsd:int"/>
<xsd:element minOccurs="0" name="ownerId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="photoId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="url" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="width" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfQVContact">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="QVContact" nillable="true" type="ns1:QVContact"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="QVContact">
<xsd:sequence>
<xsd:element minOccurs="0" name="contactId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="email" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="firstName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="lastName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="mobileNumber" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="ownerUserId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="userId" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfQVGroup">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="QVGroup" nillable="true" type="ns1:QVGroup"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="QVGroup">
<xsd:sequence>
<xsd:element minOccurs="0" name="groupId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="groupName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="userId" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="QVGroupWithContacts">
<xsd:sequence>
<xsd:element minOccurs="0" name="contacts" nillable="true" type="ns1:ArrayOfQVContact"/>
<xsd:element minOccurs="0" name="group" nillable="true" type="ns1:QVGroup"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice.qv.evite.com">
<xsd:complexType name="ArrayOfString">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="sendImHereToFriends">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in3" nillable="true" type="tns:ArrayOfString"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in4" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="sendImHereToFriendsResponse">
<xsd:complexType/>
</xsd:element>
<xsd:element name="QVWebServiceException" type="ns1:QVWebServiceException"/>
<xsd:element name="userVerifiedToSendEmail">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="userVerifiedToSendEmailResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="login">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in3" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="loginResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="sendImHereToGuests">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in3" nillable="true" type="tns:ArrayOfString"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in4" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="sendImHereToGuestsResponse">
<xsd:complexType/>
</xsd:element>
<xsd:element name="retrieveUpcomingInvites">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" type="xsd:dateTime"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="retrieveUpcomingInvitesResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ArrayOfQVInviteDecorator"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updateAndSend">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="ns1:QVEvent"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updateAndSendResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:QVEventDecorator"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="sendEvent">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="sendEventResponse">
<xsd:complexType/>
</xsd:element>
<xsd:element name="retrieveAd">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="ns1:QVAdInputData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="retrieveAdResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:QVAd"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="userVerifiedToSendSms">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="userVerifiedToSendSmsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updateEvent">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="ns1:QVEvent"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updateEventResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:QVEvent"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="cancelEvent">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="cancelEventResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="retrieveEventWithGuestlist">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="retrieveEventWithGuestlistResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:QVEventDecorator"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="checkLogin">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="checkLoginResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="createAndSendEventForGroups">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="ns1:QVEvent"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="tns:ArrayOfString"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="createAndSendEventForGroupsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:QVEventDecorator"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="retrievePhotosForEvent">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="retrievePhotosForEventResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ArrayOfQVPhoto"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="logout">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="logoutResponse">
<xsd:complexType/>
</xsd:element>
<xsd:element name="sendMessageToFriends">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in3" nillable="true" type="tns:ArrayOfString"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in4" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="sendMessageToFriendsResponse">
<xsd:complexType/>
</xsd:element>
<xsd:element name="retrieveContactsByOwnerId">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="retrieveContactsByOwnerIdResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ArrayOfQVContact"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="retrieveContact">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="retrieveContactResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:QVContact"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="retrieveGroupsForUser">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="retrieveGroupsForUserResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ArrayOfQVGroup"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="uploadPhoto">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in3" nillable="true" type="xsd:base64Binary"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="uploadPhotoResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:QVPhoto"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updateEventAndGuestlist">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="ns1:QVEvent"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="ns1:ArrayOfQVInvite"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updateEventAndGuestlistResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:QVEventDecorator"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="retrieveUserProfile">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="retrieveUserProfileResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:QVUserProfile"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="createEvent">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="ns1:QVEvent"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="ns1:ArrayOfQVInvite"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="createEventResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:QVEventDecorator"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="rsvpToInvite">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="ns1:Response"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in3" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="rsvpToInviteResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="retrieveEventWithGuestlistByInviteId">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="retrieveEventWithGuestlistByInviteIdResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:QVEventDecorator"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="createAndSendEvent">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="ns1:QVEvent"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="ns1:ArrayOfQVInvite"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="createAndSendEventResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:QVEventDecorator"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="retrieveGroupWithContacts">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="retrieveGroupWithContactsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:QVGroupWithContacts"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updateAndSendEventAndGuestlist">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="ns1:QVEvent"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="ns1:ArrayOfQVInvite"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updateAndSendEventAndGuestlistResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:QVEventDecorator"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="createEventForGroups">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="ns1:QVEvent"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="tns:ArrayOfString"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="createEventForGroupsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:QVEventDecorator"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="retrieveUserVerfiedMobileNumber">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="retrieveUserVerfiedMobileNumberResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updateInviteViewedStatus">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updateInviteViewedStatusResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="sendMessageToGuests">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:QVCredentials"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in3" nillable="true" type="tns:ArrayOfString"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in4" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="sendMessageToGuestsResponse">
<xsd:complexType/>
</xsd:element>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="sendEventResponse">
    <wsdl:part name="parameters" element="tns:sendEventResponse"/>
  </wsdl:message>
  <wsdl:message name="sendMessageToFriendsResponse">
    <wsdl:part name="parameters" element="tns:sendMessageToFriendsResponse"/>
  </wsdl:message>
  <wsdl:message name="createEventForGroupsRequest">
    <wsdl:part name="parameters" element="tns:createEventForGroups"/>
  </wsdl:message>
  <wsdl:message name="cancelEventRequest">
    <wsdl:part name="parameters" element="tns:cancelEvent"/>
  </wsdl:message>
  <wsdl:message name="retrieveGroupsForUserRequest">
    <wsdl:part name="parameters" element="tns:retrieveGroupsForUser"/>
  </wsdl:message>
  <wsdl:message name="rsvpToInviteRequest">
    <wsdl:part name="parameters" element="tns:rsvpToInvite"/>
  </wsdl:message>
  <wsdl:message name="retrieveGroupWithContactsRequest">
    <wsdl:part name="parameters" element="tns:retrieveGroupWithContacts"/>
  </wsdl:message>
  <wsdl:message name="sendEventRequest">
    <wsdl:part name="parameters" element="tns:sendEvent"/>
  </wsdl:message>
  <wsdl:message name="updateAndSendEventAndGuestlistResponse">
    <wsdl:part name="parameters" element="tns:updateAndSendEventAndGuestlistResponse"/>
  </wsdl:message>
  <wsdl:message name="retrieveEventWithGuestlistByInviteIdResponse">
    <wsdl:part name="parameters" element="tns:retrieveEventWithGuestlistByInviteIdResponse"/>
  </wsdl:message>
  <wsdl:message name="retrieveGroupWithContactsResponse">
    <wsdl:part name="parameters" element="tns:retrieveGroupWithContactsResponse"/>
  </wsdl:message>
  <wsdl:message name="updateEventRequest">
    <wsdl:part name="parameters" element="tns:updateEvent"/>
  </wsdl:message>
  <wsdl:message name="retrieveContactResponse">
    <wsdl:part name="parameters" element="tns:retrieveContactResponse"/>
  </wsdl:message>
  <wsdl:message name="retrieveEventWithGuestlistByInviteIdRequest">
    <wsdl:part name="parameters" element="tns:retrieveEventWithGuestlistByInviteId"/>
  </wsdl:message>
  <wsdl:message name="retrieveUserVerfiedMobileNumberResponse">
    <wsdl:part name="parameters" element="tns:retrieveUserVerfiedMobileNumberResponse"/>
  </wsdl:message>
  <wsdl:message name="sendImHereToFriendsResponse">
    <wsdl:part name="parameters" element="tns:sendImHereToFriendsResponse"/>
  </wsdl:message>
  <wsdl:message name="createEventForGroupsResponse">
    <wsdl:part name="parameters" element="tns:createEventForGroupsResponse"/>
  </wsdl:message>
  <wsdl:message name="retrieveContactRequest">
    <wsdl:part name="parameters" element="tns:retrieveContact"/>
  </wsdl:message>
  <wsdl:message name="updateInviteViewedStatusResponse">
    <wsdl:part name="parameters" element="tns:updateInviteViewedStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="cancelEventResponse">
    <wsdl:part name="parameters" element="tns:cancelEventResponse"/>
  </wsdl:message>
  <wsdl:message name="rsvpToInviteResponse">
    <wsdl:part name="parameters" element="tns:rsvpToInviteResponse"/>
  </wsdl:message>
  <wsdl:message name="updateAndSendRequest">
    <wsdl:part name="parameters" element="tns:updateAndSend"/>
  </wsdl:message>
  <wsdl:message name="updateEventAndGuestlistResponse">
    <wsdl:part name="parameters" element="tns:updateEventAndGuestlistResponse"/>
  </wsdl:message>
  <wsdl:message name="updateAndSendResponse">
    <wsdl:part name="parameters" element="tns:updateAndSendResponse"/>
  </wsdl:message>
  <wsdl:message name="userVerifiedToSendSmsRequest">
    <wsdl:part name="parameters" element="tns:userVerifiedToSendSms"/>
  </wsdl:message>
  <wsdl:message name="userVerifiedToSendEmailResponse">
    <wsdl:part name="parameters" element="tns:userVerifiedToSendEmailResponse"/>
  </wsdl:message>
  <wsdl:message name="retrieveGroupsForUserResponse">
    <wsdl:part name="parameters" element="tns:retrieveGroupsForUserResponse"/>
  </wsdl:message>
  <wsdl:message name="sendImHereToGuestsRequest">
    <wsdl:part name="parameters" element="tns:sendImHereToGuests"/>
  </wsdl:message>
  <wsdl:message name="retrieveEventWithGuestlistRequest">
    <wsdl:part name="parameters" element="tns:retrieveEventWithGuestlist"/>
  </wsdl:message>
  <wsdl:message name="retrieveAdRequest">
    <wsdl:part name="parameters" element="tns:retrieveAd"/>
  </wsdl:message>
  <wsdl:message name="updateInviteViewedStatusRequest">
    <wsdl:part name="parameters" element="tns:updateInviteViewedStatus"/>
  </wsdl:message>
  <wsdl:message name="userVerifiedToSendSmsResponse">
    <wsdl:part name="parameters" element="tns:userVerifiedToSendSmsResponse"/>
  </wsdl:message>
  <wsdl:message name="checkLoginResponse">
    <wsdl:part name="parameters" element="tns:checkLoginResponse"/>
  </wsdl:message>
  <wsdl:message name="uploadPhotoResponse">
    <wsdl:part name="parameters" element="tns:uploadPhotoResponse"/>
  </wsdl:message>
  <wsdl:message name="logoutResponse">
    <wsdl:part name="parameters" element="tns:logoutResponse"/>
  </wsdl:message>
  <wsdl:message name="userVerifiedToSendEmailRequest">
    <wsdl:part name="parameters" element="tns:userVerifiedToSendEmail"/>
  </wsdl:message>
  <wsdl:message name="retrieveUserProfileRequest">
    <wsdl:part name="parameters" element="tns:retrieveUserProfile"/>
  </wsdl:message>
  <wsdl:message name="retrievePhotosForEventRequest">
    <wsdl:part name="parameters" element="tns:retrievePhotosForEvent"/>
  </wsdl:message>
  <wsdl:message name="updateAndSendEventAndGuestlistRequest">
    <wsdl:part name="parameters" element="tns:updateAndSendEventAndGuestlist"/>
  </wsdl:message>
  <wsdl:message name="createEventResponse">
    <wsdl:part name="parameters" element="tns:createEventResponse"/>
  </wsdl:message>
  <wsdl:message name="retrievePhotosForEventResponse">
    <wsdl:part name="parameters" element="tns:retrievePhotosForEventResponse"/>
  </wsdl:message>
  <wsdl:message name="createAndSendEventRequest">
    <wsdl:part name="parameters" element="tns:createAndSendEvent"/>
  </wsdl:message>
  <wsdl:message name="updateEventResponse">
    <wsdl:part name="parameters" element="tns:updateEventResponse"/>
  </wsdl:message>
  <wsdl:message name="sendMessageToGuestsResponse">
    <wsdl:part name="parameters" element="tns:sendMessageToGuestsResponse"/>
  </wsdl:message>
  <wsdl:message name="createAndSendEventForGroupsRequest">
    <wsdl:part name="parameters" element="tns:createAndSendEventForGroups"/>
  </wsdl:message>
  <wsdl:message name="logoutRequest">
    <wsdl:part name="parameters" element="tns:logout"/>
  </wsdl:message>
  <wsdl:message name="retrieveUserProfileResponse">
    <wsdl:part name="parameters" element="tns:retrieveUserProfileResponse"/>
  </wsdl:message>
  <wsdl:message name="sendImHereToGuestsResponse">
    <wsdl:part name="parameters" element="tns:sendImHereToGuestsResponse"/>
  </wsdl:message>
  <wsdl:message name="sendMessageToGuestsRequest">
    <wsdl:part name="parameters" element="tns:sendMessageToGuests"/>
  </wsdl:message>
  <wsdl:message name="retrieveUserVerfiedMobileNumberRequest">
    <wsdl:part name="parameters" element="tns:retrieveUserVerfiedMobileNumber"/>
  </wsdl:message>
  <wsdl:message name="sendImHereToFriendsRequest">
    <wsdl:part name="parameters" element="tns:sendImHereToFriends"/>
  </wsdl:message>
  <wsdl:message name="createAndSendEventForGroupsResponse">
    <wsdl:part name="parameters" element="tns:createAndSendEventForGroupsResponse"/>
  </wsdl:message>
  <wsdl:message name="retrieveUpcomingInvitesResponse">
    <wsdl:part name="parameters" element="tns:retrieveUpcomingInvitesResponse"/>
  </wsdl:message>
  <wsdl:message name="retrieveEventWithGuestlistResponse">
    <wsdl:part name="parameters" element="tns:retrieveEventWithGuestlistResponse"/>
  </wsdl:message>
  <wsdl:message name="retrieveContactsByOwnerIdResponse">
    <wsdl:part name="parameters" element="tns:retrieveContactsByOwnerIdResponse"/>
  </wsdl:message>
  <wsdl:message name="QVWebServiceException">
    <wsdl:part name="QVWebServiceException" element="tns:QVWebServiceException"/>
  </wsdl:message>
  <wsdl:message name="createEventRequest">
    <wsdl:part name="parameters" element="tns:createEvent"/>
  </wsdl:message>
  <wsdl:message name="createAndSendEventResponse">
    <wsdl:part name="parameters" element="tns:createAndSendEventResponse"/>
  </wsdl:message>
  <wsdl:message name="retrieveContactsByOwnerIdRequest">
    <wsdl:part name="parameters" element="tns:retrieveContactsByOwnerId"/>
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="parameters" element="tns:loginResponse"/>
  </wsdl:message>
  <wsdl:message name="loginRequest">
    <wsdl:part name="parameters" element="tns:login"/>
  </wsdl:message>
  <wsdl:message name="uploadPhotoRequest">
    <wsdl:part name="parameters" element="tns:uploadPhoto"/>
  </wsdl:message>
  <wsdl:message name="updateEventAndGuestlistRequest">
    <wsdl:part name="parameters" element="tns:updateEventAndGuestlist"/>
  </wsdl:message>
  <wsdl:message name="retrieveUpcomingInvitesRequest">
    <wsdl:part name="parameters" element="tns:retrieveUpcomingInvites"/>
  </wsdl:message>
  <wsdl:message name="retrieveAdResponse">
    <wsdl:part name="parameters" element="tns:retrieveAdResponse"/>
  </wsdl:message>
  <wsdl:message name="sendMessageToFriendsRequest">
    <wsdl:part name="parameters" element="tns:sendMessageToFriends"/>
  </wsdl:message>
  <wsdl:message name="checkLoginRequest">
    <wsdl:part name="parameters" element="tns:checkLogin"/>
  </wsdl:message>
  <wsdl:portType name="QVWebServicePortType">
    <wsdl:operation name="sendImHereToFriends">
      <wsdl:input name="sendImHereToFriendsRequest" message="tns:sendImHereToFriendsRequest"/>
      <wsdl:output name="sendImHereToFriendsResponse" message="tns:sendImHereToFriendsResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="userVerifiedToSendEmail">
      <wsdl:input name="userVerifiedToSendEmailRequest" message="tns:userVerifiedToSendEmailRequest"/>
      <wsdl:output name="userVerifiedToSendEmailResponse" message="tns:userVerifiedToSendEmailResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input name="loginRequest" message="tns:loginRequest"/>
      <wsdl:output name="loginResponse" message="tns:loginResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="sendImHereToGuests">
      <wsdl:input name="sendImHereToGuestsRequest" message="tns:sendImHereToGuestsRequest"/>
      <wsdl:output name="sendImHereToGuestsResponse" message="tns:sendImHereToGuestsResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="retrieveUpcomingInvites">
      <wsdl:input name="retrieveUpcomingInvitesRequest" message="tns:retrieveUpcomingInvitesRequest"/>
      <wsdl:output name="retrieveUpcomingInvitesResponse" message="tns:retrieveUpcomingInvitesResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="updateAndSend">
      <wsdl:input name="updateAndSendRequest" message="tns:updateAndSendRequest"/>
      <wsdl:output name="updateAndSendResponse" message="tns:updateAndSendResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="sendEvent">
      <wsdl:input name="sendEventRequest" message="tns:sendEventRequest"/>
      <wsdl:output name="sendEventResponse" message="tns:sendEventResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="retrieveAd">
      <wsdl:input name="retrieveAdRequest" message="tns:retrieveAdRequest"/>
      <wsdl:output name="retrieveAdResponse" message="tns:retrieveAdResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="userVerifiedToSendSms">
      <wsdl:input name="userVerifiedToSendSmsRequest" message="tns:userVerifiedToSendSmsRequest"/>
      <wsdl:output name="userVerifiedToSendSmsResponse" message="tns:userVerifiedToSendSmsResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="updateEvent">
      <wsdl:input name="updateEventRequest" message="tns:updateEventRequest"/>
      <wsdl:output name="updateEventResponse" message="tns:updateEventResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="cancelEvent">
      <wsdl:input name="cancelEventRequest" message="tns:cancelEventRequest"/>
      <wsdl:output name="cancelEventResponse" message="tns:cancelEventResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="retrieveEventWithGuestlist">
      <wsdl:input name="retrieveEventWithGuestlistRequest" message="tns:retrieveEventWithGuestlistRequest"/>
      <wsdl:output name="retrieveEventWithGuestlistResponse" message="tns:retrieveEventWithGuestlistResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="checkLogin">
      <wsdl:input name="checkLoginRequest" message="tns:checkLoginRequest"/>
      <wsdl:output name="checkLoginResponse" message="tns:checkLoginResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="createAndSendEventForGroups">
      <wsdl:input name="createAndSendEventForGroupsRequest" message="tns:createAndSendEventForGroupsRequest"/>
      <wsdl:output name="createAndSendEventForGroupsResponse" message="tns:createAndSendEventForGroupsResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="retrievePhotosForEvent">
      <wsdl:input name="retrievePhotosForEventRequest" message="tns:retrievePhotosForEventRequest"/>
      <wsdl:output name="retrievePhotosForEventResponse" message="tns:retrievePhotosForEventResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <wsdl:input name="logoutRequest" message="tns:logoutRequest"/>
      <wsdl:output name="logoutResponse" message="tns:logoutResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="sendMessageToFriends">
      <wsdl:input name="sendMessageToFriendsRequest" message="tns:sendMessageToFriendsRequest"/>
      <wsdl:output name="sendMessageToFriendsResponse" message="tns:sendMessageToFriendsResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="retrieveContactsByOwnerId">
      <wsdl:input name="retrieveContactsByOwnerIdRequest" message="tns:retrieveContactsByOwnerIdRequest"/>
      <wsdl:output name="retrieveContactsByOwnerIdResponse" message="tns:retrieveContactsByOwnerIdResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="retrieveContact">
      <wsdl:input name="retrieveContactRequest" message="tns:retrieveContactRequest"/>
      <wsdl:output name="retrieveContactResponse" message="tns:retrieveContactResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="retrieveGroupsForUser">
      <wsdl:input name="retrieveGroupsForUserRequest" message="tns:retrieveGroupsForUserRequest"/>
      <wsdl:output name="retrieveGroupsForUserResponse" message="tns:retrieveGroupsForUserResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="uploadPhoto">
      <wsdl:input name="uploadPhotoRequest" message="tns:uploadPhotoRequest"/>
      <wsdl:output name="uploadPhotoResponse" message="tns:uploadPhotoResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="updateEventAndGuestlist">
      <wsdl:input name="updateEventAndGuestlistRequest" message="tns:updateEventAndGuestlistRequest"/>
      <wsdl:output name="updateEventAndGuestlistResponse" message="tns:updateEventAndGuestlistResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="retrieveUserProfile">
      <wsdl:input name="retrieveUserProfileRequest" message="tns:retrieveUserProfileRequest"/>
      <wsdl:output name="retrieveUserProfileResponse" message="tns:retrieveUserProfileResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="createEvent">
      <wsdl:input name="createEventRequest" message="tns:createEventRequest"/>
      <wsdl:output name="createEventResponse" message="tns:createEventResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="rsvpToInvite">
      <wsdl:input name="rsvpToInviteRequest" message="tns:rsvpToInviteRequest"/>
      <wsdl:output name="rsvpToInviteResponse" message="tns:rsvpToInviteResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="retrieveEventWithGuestlistByInviteId">
      <wsdl:input name="retrieveEventWithGuestlistByInviteIdRequest" message="tns:retrieveEventWithGuestlistByInviteIdRequest"/>
      <wsdl:output name="retrieveEventWithGuestlistByInviteIdResponse" message="tns:retrieveEventWithGuestlistByInviteIdResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="createAndSendEvent">
      <wsdl:input name="createAndSendEventRequest" message="tns:createAndSendEventRequest"/>
      <wsdl:output name="createAndSendEventResponse" message="tns:createAndSendEventResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="retrieveGroupWithContacts">
      <wsdl:input name="retrieveGroupWithContactsRequest" message="tns:retrieveGroupWithContactsRequest"/>
      <wsdl:output name="retrieveGroupWithContactsResponse" message="tns:retrieveGroupWithContactsResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="updateAndSendEventAndGuestlist">
      <wsdl:input name="updateAndSendEventAndGuestlistRequest" message="tns:updateAndSendEventAndGuestlistRequest"/>
      <wsdl:output name="updateAndSendEventAndGuestlistResponse" message="tns:updateAndSendEventAndGuestlistResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="createEventForGroups">
      <wsdl:input name="createEventForGroupsRequest" message="tns:createEventForGroupsRequest"/>
      <wsdl:output name="createEventForGroupsResponse" message="tns:createEventForGroupsResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="retrieveUserVerfiedMobileNumber">
      <wsdl:input name="retrieveUserVerfiedMobileNumberRequest" message="tns:retrieveUserVerfiedMobileNumberRequest"/>
      <wsdl:output name="retrieveUserVerfiedMobileNumberResponse" message="tns:retrieveUserVerfiedMobileNumberResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="updateInviteViewedStatus">
      <wsdl:input name="updateInviteViewedStatusRequest" message="tns:updateInviteViewedStatusRequest"/>
      <wsdl:output name="updateInviteViewedStatusResponse" message="tns:updateInviteViewedStatusResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="sendMessageToGuests">
      <wsdl:input name="sendMessageToGuestsRequest" message="tns:sendMessageToGuestsRequest"/>
      <wsdl:output name="sendMessageToGuestsResponse" message="tns:sendMessageToGuestsResponse"/>
      <wsdl:fault name="QVWebServiceException" message="tns:QVWebServiceException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QVWebServiceHttpBinding" type="tns:QVWebServicePortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendImHereToFriends">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="sendImHereToFriendsRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendImHereToFriendsResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="userVerifiedToSendEmail">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="userVerifiedToSendEmailRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="userVerifiedToSendEmailResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="loginRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="loginResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendImHereToGuests">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="sendImHereToGuestsRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendImHereToGuestsResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveUpcomingInvites">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="retrieveUpcomingInvitesRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrieveUpcomingInvitesResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateAndSend">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="updateAndSendRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateAndSendResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendEvent">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="sendEventRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendEventResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveAd">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="retrieveAdRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrieveAdResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="userVerifiedToSendSms">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="userVerifiedToSendSmsRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="userVerifiedToSendSmsResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateEvent">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="updateEventRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateEventResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelEvent">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="cancelEventRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelEventResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveEventWithGuestlist">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="retrieveEventWithGuestlistRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrieveEventWithGuestlistResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="checkLogin">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="checkLoginRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="checkLoginResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createAndSendEventForGroups">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="createAndSendEventForGroupsRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createAndSendEventForGroupsResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrievePhotosForEvent">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="retrievePhotosForEventRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrievePhotosForEventResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="logoutRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="logoutResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendMessageToFriends">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="sendMessageToFriendsRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendMessageToFriendsResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveContactsByOwnerId">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="retrieveContactsByOwnerIdRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrieveContactsByOwnerIdResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveContact">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="retrieveContactRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrieveContactResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveGroupsForUser">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="retrieveGroupsForUserRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrieveGroupsForUserResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="uploadPhoto">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="uploadPhotoRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="uploadPhotoResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateEventAndGuestlist">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="updateEventAndGuestlistRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateEventAndGuestlistResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveUserProfile">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="retrieveUserProfileRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrieveUserProfileResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createEvent">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="createEventRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createEventResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="rsvpToInvite">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="rsvpToInviteRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="rsvpToInviteResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveEventWithGuestlistByInviteId">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="retrieveEventWithGuestlistByInviteIdRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrieveEventWithGuestlistByInviteIdResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createAndSendEvent">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="createAndSendEventRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createAndSendEventResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveGroupWithContacts">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="retrieveGroupWithContactsRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrieveGroupWithContactsResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateAndSendEventAndGuestlist">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="updateAndSendEventAndGuestlistRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateAndSendEventAndGuestlistResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createEventForGroups">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="createEventForGroupsRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createEventForGroupsResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveUserVerfiedMobileNumber">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="retrieveUserVerfiedMobileNumberRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrieveUserVerfiedMobileNumberResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateInviteViewedStatus">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="updateInviteViewedStatusRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateInviteViewedStatusResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendMessageToGuests">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="sendMessageToGuestsRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendMessageToGuestsResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="QVWebServiceException">
        <wsdlsoap:fault name="QVWebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QVWebService">
    <wsdl:port name="QVWebServiceHttpPort" binding="tns:QVWebServiceHttpBinding">
      <wsdlsoap:address location="http://test1.evite.com/app/webservices/qv"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
